<!-- profile.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Profil de <%= @user.first_name %> <%= @user.last_name %></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center profile-image"> <!-- Ajout de la classe profile-image -->
        <%= image_tag asset_path('chat_profil.jpg'), class: "img-fluid rounded-circle", alt: "Photo de profil" %>
      </div>

    <div class="row mt-4 profile-section"> <!-- Ajout de la classe profile-section -->
      <div class="col-md-12">
        <h3>Informations :</h3>
        <ol class="list-group list-group-numbered profile-info-list"> <!-- Ajout de la classe profile-info-list -->
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Nom :</div>
              <%= @user.first_name %> <%= @user.last_name %>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Email :</div>
              <%= @user.email %>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Description :</div>
              <%= @user.description %>
            </div>
          </li>
          <!-- Ajoutez ici d'autres éléments d'information -->
        </ol>
      </div>
    </div>

    <div class="row mt-4 profile-section"> <!-- Ajout de la classe profile-section -->
      <div class="col-md-12">
        <h3>Commandes passées :</h3>
        <!-- Ajoutez ici la logique pour afficher les commandes passées -->
      </div>
    </div>

    <div class="row mt-4 profile-section"> <!-- Ajout de la classe profile-section -->
      <div class="col-md-12">
        <h3>Coups de cœur :</h3>
        <!-- Ajoutez ici la logique pour afficher les coups de cœur -->
      </div>
    </div>
  </div>
</body>
</html>