<%= form_with(model: item, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(item.errors.count, "erreur") %> interdit ce formulaire d'être sauvegardé :</h2>
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, "Titre", class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description", class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Prix", class: 'form-label' %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :image, "Image", class: 'form-label'%>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn_primary' %>
  </div>
<% end %>
