<section>
  <div class=center_form>
    <%= form_with(model: item, local: true, html: { class: 'needs-validation', novalidate: true}, data: {turbo: true}) do |form| %>

    <div class= "form_inscription container_form max_width">

      <div class=container_form_element>
        <%= form.label :title, "Titre", class: 'label' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class=container_form_element>
        <%= form.label :description, "Description", class: 'label' %>
        <%= form.text_area :description, class: 'form-control input description' %>
      </div>

      <div class=container_form_element>
        <%= form.label :price, "Prix", class: 'label' %>
        <%= form.number_field :price, step: 0.01, class: 'form-control input' %>
      </div>

      <div class="field container_form_element">
        <%= form.label :image, "Image", class: 'label'%>
        <%= form.file_field :image, class: 'form-control input' %>
      </div>

      <div class="actions">
        <%= form.submit "Envoyer", class: 'btn btn_primary' %>
      </div>
    <% end %>
  </div>
</section>