<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "erreur") %> interdit ce formulaire d'être sauvegardé :</h2>
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price, "Prix" %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :image, "Image" %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>