<!DOCTYPE html>
<html>
<head>
  <title>Welcome page</title>
</head>
<body>
  <h1>Liste des Articles</h1>
      <% @items.each do |item| %>
        <p><%= item.title %></p>
        <p><%= item.description %></p>
        <p><%= number_to_currency(item.price) %></p>
        <p><%= image_tag(item.image_url) if item.image_url.present? %></p>
        <br>
        <%= link_to 'Voir', item %>
        <%= link_to 'Modifier', edit_item_path(item) %>
        <%= link_to 'Supprimer', item, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %>
        <br>
      <% end %>
  <%= link_to 'Ajouter un nouvel article', new_item_path %>
</body>