<!DOCTYPE html>
<html>
<head>
  <title>Collections</title>
</head>
<body>
  <h1>Liste des Articles</h1>
        <% @items.each do |item| %>
          <p><%= item.title %></p>
          <p><%= item.description %></p>
          <p><%= number_to_currency(item.price) %></p>
          <p><% if item.image.attached? %>
                <div class=container_image_product><%= image_tag item.image, alt: 'image', class: "image_product" %></div>
             <% end %></p>
          <br>
          <%= link_to 'Voir', item %>
          <%= link_to 'Modifier', edit_item_path(item) %>
          <%= button_to 'Supprimer', "/items/#{item.id}", method: :delete %>
          <br>
          <%if user_signed_in?%>
            <%= button_to "Ajouter au panier", item_cart_items_path(item.id), method: :post, class:"btn btn_primary" %>
          <%end%>
        <% end %>
</body>