<h1><%= @item.title %></h1>
<p><%= @item.description %></p>
<p><%= number_to_currency(@item.price) %></p>
<p><% if @item.image.attached? %>
  <div class=container_image_product><%= image_tag @item.image, alt: 'image', class: "image_product" %></div>
<% end %></p>
<%= link_to 'Retour à la liste', items_path %>

